<div id="wrapper2">

	<div id="banner"><%= image_tag "mappic.png" %></div>
	<div id="welcome">
		<h2 class="title">Welcome to Nuevento</h2>
		<div class="entry">
			<p>This is <strong>Nuevento </strong>, a new app for TEC students. Próximamente en Español.</p>
			<p><strong> Beta Ver. </strong></p>
		</div>
	</div>
	<div id="two-columns">
		<div id="col1">
			<h2>What is it?</h2>
			<p>It is an App that will help the students to not miss any event, for instance a concert, cultural activity, a party or even know what is for lunch. <br />
			</p>
			<p> It uses the <strong>Twitter API </strong> for authentication and the <strong>Google Maps API</strong> for your pleasure!</p>
			<p><strong>Create your own events</strong> and keep track of all the activity going on at TEC and its surroundings.</p>
			<p><%= link_to 'Start Here', events_path, :class => 'link-style2'%></p>
		</div>
		<div id="col2"><img src="images/pics02.jpg" alt="" width="320" height="260" class="image-style" />
		</div>
	</div>
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Developed by:</a></h2>
				<div class="entry">
					<p><strong>Julio Agüero Sánchez</strong>.<p> 
					<p>Administración de las Tecnologías de Información Student at Tecnológico de Costa Rica.</p>
				</div>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2>More About the Developer:</h2>
					<ul>
						<li><a href="http://github.com/julioagueros">Github</a></li>
						<li><a href="http://linkedin.com/julioagueros">Linkedin</a></li>
						<li><a href="http://soundcloud.com/julioagueros">Soundcloud</a></li>
						<li><a href="http://correcriminal.bandcamp.com/">Bandcamp</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- end #page --> 
</div>

<!-- end #footer -->

