  <div id = "wrapper">

<h1>Editing category</h1>

<%= render 'form' %>

<%= link_to 'Show', @category, :class => 'link-style'%> |
<%= link_to 'Back', categories_path, :class => 'link-style' %>
</div>